@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap');

@font-face {
    font-family: 'Neuville';
    src: url('neuville_light-webfont.woff2') format('woff2'),
         url('neuville_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neuville';
    src: url('neuville_bold-webfont.woff2') format('woff2'),
         url('neuville_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
